    <header>
        <h1 style="text-align: center;">Welcome MemberClaim Portal </h1>
    </header>
           <div class="navbar-end gap-4">
            
            <header>
            <a class="butn"  [routerLink]='"/claim"'>Place Claim</a>
            <a class="butn"  [routerLink]='"/dependant"'>Add Dependant</a>
            <a class="butn"  [routerLink]='"user/dependantinfo"'>My Dependants</a>
            <a class="butn"  [routerLink]='"user/myclaims"'>My Claim</a>
            </header>
        </div>
    <header>
    <div class="navbar-end gap-4">
    <a style="position: absolute ; right: 5px ;top: 90px" class="butn1"   [routerLink]='"/register"'>Register</a>
    </div>
</header>